*{
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

@font-face {
    font-family: 'munro';
    src: url('../font/munrosmall-webfont.woff2') format('woff2'),
    url('../font/munrosmall-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 50px 0 0 0;
    background: #000;
    background-size: contain;
    font-family: 'munro';
    font-size: 20px;
    color: #ffffff;
    height:100%;
    position: relative
}

*{
    box-sizing: border-box;
}



#status{
    width:100%;
    height:50px;
    background: url(../images/headerBG.png) repeat-x;
    padding-top:10px;
    position:fixed;
    top:0;
    left: 0;
    z-index:7;
    box-shadow: 0 0 20px #000;
}

#calibrateHolder,
#backHolder{
    float:left;
    width:calc(30% - 10px);
    height: 30px;
    margin-left: 10px;
    opacity:0.5;
}

#calibrateHolder{
    display:none;
}

#ammoHolder{
    float:left;
    width:calc(70% - 20px);
    margin-left: 10px;
    margin-right:10px;
    height:30px;
}

.l,.r{
    float:left;
    width: 6px;
    height:30px;
}

.c{
    width: calc(100% - 12px);
    height: 30px;
    float:left;
}

#calibrateHolder .l,
#backHolder .l{
    background: url(../images/buttonleft.png) no-repeat;
}

#calibrateHolder .r,
#backHolder .r{
    background: url(../images/buttonright.png) no-repeat;
}

#calibrateHolder .c,
#backHolder .c{
    background: url(../images/buttoncentre.png) repeat-x;
    text-align: center;
    padding-top:4px;
}

#ammoHolder .l{
    background: url(../images/ammoleft.png) no-repeat;
}

#ammoHolder .r{
    background: url(../images/ammoright.png) no-repeat;
}

#ammoHolder .c{
    background: url(../images/ammocentre.png) repeat-x;
}

#ammo{
    width:calc(45% - 2px);
    margin-left:2px;
    float:left;
}

#ammo span{
    float:left;
    color:#909090;
    padding-top:3px;
}

#ammo span#ammoTotal{
    margin-left:5px;
    color:#73C9C2
}

#magazine{
    width: calc(55% - 5px);
    float:right;
    margin-right: 5px;
    padding-top:4px;
}

.bullet{
    width:8px;
    height:20px;
    margin-right:2px;
    background: url(../images/bullet.png) no-repeat;
    float:right;
}

.bulletSlot{
    width:8px;
    height:20px;
    margin-right:2px;
    background: url(../images/bulletinactive.png) no-repeat;
    float:right;
}

#interface{
    position:relative;
    height: 400px;
}

#touchpad{
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:10px 0 0 0;
}

#scanlines{
    position:absolute;
    z-index:4;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    height: 100%;
    background: url(../images/scanlines.png);
}

#hitarea{
    width:calc(100% - 20px);
    height: 300px;
    position:absolute;
    z-index:5;
    top:10px;
    left: 10px;
    opacity: 0.7;
}

#monitor{
    width:calc(100% - 20px);
    height: 300px;
    margin: 0 auto;
}

#scientist,
#general{
    display:none;
    margin: 0 auto;
}

#monitor #message{
    display:block;
    width:95%;
    margin:10px auto 0 auto;
    text-align:center;
    font-size:30px;
}

#start,
#shootLabel{
    width:100%;
    font-size:50px;
    padding: 100px 20px;
    margin:0 auto;
    display:none;
    text-align:center;
}

#calibrateView{
    width:100%;
    position:absolute;
    z-index:6;
    background: #000;
    top:0;
    left:0;
    bottom:0;
    height: 100%;
    padding-top:10px;
}

#calibrateView img{
    display:block;
    margin: 0 auto 20px auto;
}

#calibrateView p{
    text-align: center;
    font-size:30px;
    color: #C0C0C0;
    width:90%;
    margin:0 auto 20px auto;

}

#calibrate{
    width:80%;
    margin:0 auto;
    padding:20px 0;
    text-align:center;
    border: 5px solid #297B8F;
    color: #fff;
    font-size: 30px;
    background: rgba(41,123,143,0.5);
}